@namespace AtomicDesign.Components.Molecules
@using Microsoft.AspNetCore.Components.Routing

<div class="navigation typography-m">
  <ul class="links">
    <li>
      <NavLink href="/guide" ActiveClass="nav-active" Match="NavLinkMatch.All">
        Guide
      </NavLink>
    </li>
    <li>
      <NavLink href="/build" ActiveClass="nav-active" Match="NavLinkMatch.All">
        Build
      </NavLink>
    </li>
    <li>
      <NavLink href="/equip" ActiveClass="nav-active" Match="NavLinkMatch.All">
        Equip
      </NavLink>
    </li>
  </ul>
</div>
