@namespace AtomicDesign.Components.Molecules
@using AtomicDesign.Components.Atoms
@using Microsoft.AspNetCore.Components.Routing
@inherits ComponentBase

<div class="logo">
  <NavLink href="/" ActiveClass="nav-active" Match="NavLinkMatch.All">
    <Logo />
  </NavLink>
</div>